[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pep8 = "*"

[packages]
django = "*"
djangorestframework = "*"
django-nose = "*"
nose = "*"
coverage = "*"
psycopg2 = "*"
gunicorn = "*"
whitenoise = "*"

[requires]
python_version = "3.7"
